#content{
	margin-top: 30px;
	padding-left: 10px;
}

#spreadsheet_content_credit {
	clear:both;
	position:relative;
	z-index:10;
	height:22px;
    left:0px;
    right:0px;
    bottom:0px;
	text-align: center;
	font-weight: 300;
	font-family: Lato, Arial, sans-serif;
	font-size: 10px;
}

body{
	overflow-x:hidden;
}

#Bio_Frank{
	position: relative;
	text-align: justify;
	padding-right: 0px;
	width: 270px;
	top:200px;
}

#Frank_photo{
	position: absolute;
	padding-top: 40px;
	left:28px;
	width: 60%;

}