#navbar {
	text-align:center;
	position: fixed;
	width: 100%;
	height: 60px;
	top: 0;
	left: 0;
	z-index: 2;
	background: pink;
    border-bottom-style: none;
    border-bottom-width: 1px;
}

#FRMDB-logo{
	display: block;
	margin-right: auto;
	margin-left: auto;
    padding: 10px;
    height: 50px;
}

#content {
	margin-top: 90px;
	padding-left: 20px;
}

#content-credit {
	position:fixed;
	height:22px;
    left:0px;
    right:0px;
    bottom:0px;
	text-align: center;
	padding-bottom: 20px;
	font-weight: 300;
	font-family: Lato, Arial, sans-serif;
}

.card {
	position: relative;
	float:left;
	margin-bottom: 20px;
	margin-right: 20px;
	min-height: 510px;
	min-width: 340px;
	max-height: 510px;
	max-width: 340px;
	width: 32%;
	height: 100%;
	padding: 15px;
	background: pink;
	pointer-events: auto;
}

.card-title {
	font-family: Roboto;
	font-size: 20pt;
	font-weight: bold;
	margin: 5px;
	margin-bottom: 15px;

.card-img {
    position: relative;
    margin-left: -15px;
    padding-right: 30px;
    width: 100%;
    height: 0;
    padding-bottom: 60%;
}

.card-img-embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    padding-left: 20px;
}

.card-frank {
    font-family: Roboto;
    font-size: 12pt;
    font-weight: bold;
    margin: 5px;
    margin-bottom: 15px;
    margin-top: 170px;
    text-align: justify;
}

.card-ruthie {
    font-family: Roboto;
    font-size: 12pt;
    font-weight: bold;
    margin: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: justify;
}

#title{
	font-family: Lato;
	font-size: 30pt;
	margin: 5px;
	margin-bottom: 15px;
	text-align: center;
	font-weight: lighter;
}

#fruthie-logo{
	position:center; 
	padding-top: 10px;
	max-width: 300px;
	max-height: 400px;
}

#title-caption{
	text-align: center;
	font-family: Lato;
	padding-top: 5px;
}

img.main{
	display: block;
	margin-left: auto;
	margin-right: auto;	
	width: 100%;
}

#navbar2{
	height: 30px; 
}

img.Frank{
	position: absolute;
	right: 0px; 
	width: 25%;
}

img.Ruthie{
	position: absolute;
	left: 0px;
	width: 25%;
}


img.About_Icon{
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-top: 25px;
	width: 5%
}

h3.About_Frank{
	font-family: 'Lato', sans-serif;
	/*color: #22313F;*/
	color:#6C7A89;
	padding-top: 10px;
	padding-left: 15px;
}

h3.About_Ruthie{
	font-family: 'Lato', sans-serif;
	/*color: #22313F;*/
	color:#6C7A89;
	position: absolute;
	right: 0px;
	padding-right:150px;
	padding-left: 15px;
}

h3.About_FRMDB{
	font-family: 'Lato', sans-serif;
	/*color: #22313F;*/
	color:#6C7A89;
}


#About_Title{
	text-align: center;
	padding-top: 5px;
}


#Bio_Frank{
	padding-top: 20px;
	padding-right: 350px;
	padding-left: 15px;
	padding-bottom: 110px;
}

#Bio_Ruthie{
	padding-top: 75px;
	padding-left: 350px;
	padding-right: 15px;
	padding-bottom: 55px;
}

#Bio_FRMDB{
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

p2{
	font-family: 'Lato', sans-serif;
	color: #95A5A6;
	font-size: 130%;
}

#About1{
	background-color: #F2F1EF;
}

#About2{
	/*background-color: #F2F1EF;*/
}

#nav{
    height:45px;
    border-bottom:1px solid #ddd;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    background:pink url(../images/nav.png) repeat-x center left;
}

/*
#nav ul{
    height:25px;
    list-style:none;
    margin:6px auto 0px auto;
    width:600px;   
}*/

#nav ul li{
    display:inline;
    float:left;
    margin:0px 2px;
}

#nav a{
    font-size:16px;
    font-weight:bold;
 /*   float:left;*/
    padding: 2px 4px;
    font-family: 'Lato', sans-serif;
	color:#6C7A89;
    text-decoration: none;
   /* border:1px solid #ccc;*/
    cursor: pointer;
    background:transparent url(../images/overlay.png) repeat-x center left;
    height:16px;
    line-height:16px;
}
#nav a:hover{
    background:#D9D9DA none;
    color: #fff;
}

#nav ul li.search{
    float:right;
}
